.button-round
{
    width: 100px;
    height: 50px;
    border: 2px solid #1276F9;
    border-radius: 20%;
    color: #1276F9;
    font-size: 20px;
    padding: 1px;
    margin: 10px;
    background:white;
}

header.header-title
{
    height : 50px;
    background-color : #0276FF;
    color : white;
    padding-left : 10px;
    font-size: 32px;
}

ul.item-list-group
{
    width: 1200px;
    height : 2000px;
    background-color : white;
    border : 2px solid #1276F9;
    padding-left : 0px;
}
li.list-item
{
    color: #1276F9;
    background-color : white;
    border-bottom: 1px solid #1276F9;
    font-size : 24px;
    margin-left : 5px;
    padding-left : 0px;
    height : 30px;
}